<div
  Class="sidebar p-sidebar p-component"
  [ngClass]="{'collapsed': collapsed}"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()">
  <ul>
    @for(item of menuItems; track $index) {
      <li [routerLink]="item.route">

        <div class="sidebar-menu-item" routerLinkActive="active" tabindex="0"
          (click)="toggleSubMenu(item)"
          (keydown.enter)="toggleSubMenu(item)"
          (keydown.space)="toggleSubMenu(item)">
          <div style="width: 100%;">
            <div>
              <i [class]="'pi ' + item.icon"></i>
              @if (!collapsed) {
                <span class="p-menuitem-text">{{ item.label | translate }}</span>
              }
            </div>
          </div>

          @if (!collapsed)
          {
            <div>
              @if (item.children && item.children.length > 0) {
                <span>
                  <i class="pi pi-chevron-right chevron-icon" 
                     [style.transform]="item.expanded ? 'rotate(90deg)' : 'rotate(0deg)'"></i>
                </span>
              }
            </div>
          }
        </div>

        @if (item.expanded && item.children && item.children.length && !collapsed) {
          <ul>
            @for(child of item.children; track $index) {
              <li [routerLink]="child.route">
                <div class="sidebar-menu-item" routerLinkActive="active">
                  <i [class]="'pi ' + child.icon"></i>
                  <a>{{ child.label | translate }}</a>
                </div>
              </li>
            }
          </ul>
        }
      </li>
    }
  </ul>
</div>
