
:host {
  .login-container {
    max-width: 400px;
    margin: 100px auto;
  }

  .field {
    margin-bottom: 20px;
  }

  .error {
    color: red;
    font-size: 0.8em;
  }

  .actions {
    text-align: center;
  }


  p-password {
    width: 100%;
  }
}
